beautifulsoup4==4.13.3
FreeSimpleGUI==5.1.1
FreeSimpleGUI==5.1.1
matplotlib==3.10.0
mplfinance==0.12.10b0
numpy==2.2.3
pandas==2.2.3
Requests==2.32.3
requests_cache==1.2.1
scipy==1.15.2
tkcalendar==1.6.1
yahooquery==2.3.7
yfinance==0.2.54
